:root {
    ---branding-color: #ff8ad8;
    --heading-font-family: "Playfair Display", serif;
    --body-font-family: "Merriweather", serif;
}

.container {
    width: auto;
}

h1 {
    font-family: var(--heading-font-family);
    font-weight: bolder;
    font-size: 64px;
}
h2 {
    font-family: var(--heading-font-family);
    font-weight: bolder;
    font-size: 34px;
}
p {
    font-family: var(--body-font-family);
    font-size: 24px;
    font-weight: normal;
}
.hero {
    padding-top: 50px;
    margin: 0 auto;
    display: block;
}
.headshot {
    border-color: var(---branding-color);
    border-radius: 20%;
    border-style: double solid;
    margin: 0 auto;
    max-width: 350px;
}
.btn-secondary {
    background-color: var(---branding-color);
    border: var(---branding-color);
}
.contact-section {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}
footer {
    font-family: var(--body-font-family);
    font-size: 18px;
    text-align: center;
    color: var(---branding-color);
    font-weight: bolder;
}
.projectImage {
    box-shadow: 0 1px 5px #00000008, 0 5px 30px #0000001a;
    border-radius: 20px;
}
.project-preview {
    box-shadow: 0 1px 5px #00000008, 0 5px 30px #0000001a;
    border-radius: 20px;
    border: var(---branding-color) inset;
    padding: 10px;
    margin-top: 60px;
}
