:root {
    ---branding-color: #ff8ad8;
    --heading-font-family: "Playfair Display", serif;
    --body-font-family: "Merriweather", serif;
}

.container {
    width: auto;
}

h1 {
    font-family: var(--heading-font-family);
    font-weight: bolder;
    font-size: 64px;
}

p {
    font-family: var(--body-font-family);
    font-size: 24px;
    font-weight: normal;
}
.hero {
    padding-top: 50px;
}
.headshot {
    border-color: var(---branding-color);
    border-radius: 350%;
    border-style: double solid;
    margin: 0 auto;
}
.btn-secondary {
    background-color: var(---branding-color);
    border: var(---branding-color);
}
.contact-section {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}
footer {
    font-family: "Merriweather", serif;
    font-size: 18px;
    text-align: center;
    color: var(---branding-color);
    font-weight: bolder;
}
